.container {
  background-color: lightgray;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  min-width: 300px;
}

.form-group {
  margin: 15px;
}

#planButton {
  font-size: 24px;
  padding: 10px;
  border-radius: 30%;
  margin: 30px;
}

li {
  margin: 15px;
}

ul {
  list-style-type: none;
}

#trainImage {
  width: 300px;
  margin: 0 auto;
  display: block;
}

select {
  font-size: 24px;
}

.journeyLeg {
  margin: 30px 0;
  text-align: left;
}

#journey {
  text-align: left;
}
